DJANGO_SECRET_KEY=ubah-dengan-secret-key-anda-secara-acak
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database PostgreSQL
DB_NAME=martabak
DB_USER=postgres
DB_PASSWORD=password_postgresql_anda
DB_HOST=localhost
DB_PORT=5432

# Redis / Celery
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# GoQris Payment
GOQRIS_API_BASE=https://api.goqris.web.id
GOQRIS_API_KEY=GO_xxxxxx
