# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual Environment
venv/
env/
.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Secret keys
*.pem
*.key

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flutter (kalau ada di backend)
build/
*.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Testing
.pytest_cache/
.coverage
htmlcov/

# Boot
*.boot

# Celery
celerybeat-schedule
celerybeat-schedule.*
celerybeat-schedule-shm
celerybeat-schedule-wal